@use '../../../Scss/mixins';
@use '../../../Scss/vars';
@use '../../../Scss/reset';

.section1{
    @include mixins.Flex(row, center, center, 0);
    padding: 20px 130px;
    background-color: vars.$first-color;
    &-container{
        @include mixins.Flex(column, center, center, 32px);
        &__title{
            @include mixins.Noto(48px,500,65px);
            color: vars.$main-color;
            text-align: flex-start;   
        }
        &__text{
            @include mixins.Noto(18px,400,27px);
            color: vars.$main-color;
            text-align: flex-start;   
        }
    }
    &-img{
        width: 60%;
    }
}