@use '../../../Scss/mixins';
@use '../../../Scss/vars';
@use '../../../Scss/reset';

.section5{
    @include mixins.Flex(column, center, center, 0);
    padding: 180px 130px;
    background-color: vars.$main-color;
    &-container1{
        @include mixins.Flex(row, center, center, 40px);
        .section5-textbox{
            @include mixins.Flex(column,center,center,20px);
            &__text1{
                @include mixins.Noto(48px,500,54px);
                color: vars.$first-color;
                text-align: center;
                width: 80%;   
            }
            &__text2{
                @include mixins.Noto(18px,400,27px);
                color: vars.$first-color;
                text-align: center; 
                width: 70%;  
            }
       }
       &-img{
        width: 60%;
    }
    }
}