@use '../../../Scss/mixins';
@use '../../../Scss/vars';
@use '../../../Scss/reset';

.section4{
    @include mixins.Flex(column, center, center, 0);
    padding: 115px 130px;
    background-color: vars.$fourth-color;
    &-textbox{
        @include mixins.Flex(column, center, center, 27px);
        &__title{
            @include mixins.Noto(48px,500,54px);
            color: vars.$first-color;
            text-align: center;   
            width: 80%;
        }
        &__text{
            @include mixins.Noto(18px,400,27px);
            color: vars.$first-color;
            text-align: center;   
            width: 75%;
        }
    }
    &-img{
        width: 80%;
    }
}